* {
	margin : 0;
	outline : 0;
	padding : 0;
}

body {
	background-color : #ededed;
	color : #646464;
	font-family : 'Verdana', 'Geneva', sans-serif;
	font-size : 12px;
}

input {
	display: block;
	width: 120px;
	margin: 10px;
}
p{padding:8px 0 8px 0;}
table {
	margin: auto;
}
table.result {margin:20px 0 0 0;}
table.result tr td{border:1px solid #333333;padding:10px;}
table.result{border-collapse:collapse;}
table.result a{color:#000000;}
h1 {
	font-size : 24px;
	font-weight : normal;
	margin : 0 0 10px 0;
	text-shadow : 0 1px 0 #ffffff;
}

div#wrapper .image-left, div#wrapper .image-right{display:inline-block;vertical-align:top;}



div#wrapper {
  margin : 30px auto 30px auto;
}

div.image-decorator {
	-moz-border-radius : 5px 5px 5px 5px;
	-moz-box-shadow : 0 0 6px #c8c8c8;
	-webkit-border-radius : 5px 5px 5px 5px;
	-webkit-box-shadow : 0 0 6px #c8c8c8;
	background-color : #ffffff;
	border : 1px solid #c8c8c8;
	border-radius : 5px 5px 5px 5px;
	box-shadow : 0 0 6px #c8c8c8;
	display : inline-block;
	padding : 5px 5px 5px 5px;
	position: relative;
	margin-bottom: 10px;
}
div.image-buttons{display:inline-block;vertical-align:top;}
.select-areas-overlay {
	background-color: #000;
	overflow: hidden;
	position: absolute;
}
.blurred {
	/*filter: url("/filters.svg#blur3px");
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	filter: blur(3px);*/
}
.select-areas-background-area{opacity:0.1;}
.select-areas-outline {
	background: #fff url('outline.gif');
	overflow: hidden;
}

.select-areas-resize-handler {
	background-color: #000;
	border: 1px #fff solid;
	height: 8px;
	width: 8px;
	overflow: hidden;
}

.select-areas-delete-area {
	background: url('bt-delete.png');
	cursor: pointer;
	height: 16px;
	width: 16px;
}
.delete-area {
	position: absolute;
	cursor: pointer;
	padding: 5px;
}
